@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.logo{
    color: aliceblue;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
main{
    width: 1120px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 1px 0 aliceblue;
    max-width: 1120px;
    width: 100%;
}
.nav-list{
    display: flex;
    gap: 30px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}
.hello{
    color:aliceblue;
}
section#home{
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 100%;
}
.img-perf{
    width: 400px;
    height: 400px;
}
.home-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
    color: aliceblue;
}
.home-info button{
    border: none;
    width: 150px;
    padding: 10px;
    background-color: aliceblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
}
.home-info button a{
    color: black;
}
.home-info button:hover{
    opacity: 1;
}
.home-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-img img{
    width: 250px;
    height: 250px;
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 10px 10px;
    border-radius: 50%;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}
section#projects{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.project-img {
    width: 50%;
}
.project-img img{
    object-fit: cover;
    width: 80%;
}
.project-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: aliceblue;
}
.swiper{
    width: 95vw;
    height: 500px;
}
.swiper-slide{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
#contact {
  height: calc(100vh + 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  padding: 5px 20px;
}
input, textarea, button {
  box-shadow: 0 1px 2px #ddd;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;
}
#contact form button {
  background-color: #7700ff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9;
}
#contact form button:hover{
  opacity: 1;
}
.email-field,.name-field{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

/* FOOTER */

footer {
  box-shadow: 0px -1px 0px 0px #ececec;
  padding: 50px;
  text-align: center;
}
#contact {
    height: calc(100vh + 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: aliceblue;
}
#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    padding: 5px 20px;
}
input, textarea, button {
    box-shadow: 0 1px 2px #ddd;
    color: aliceblue;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}
#contact form button {
    background-color: aliceblue;
    color: black;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.9;
}
#contact form button:hover{
    opacity: 1;
}
.btn i{
    line-height: 90px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: 0.2s linear;
}
.btn{
    display: inline-block;
    width: 72px;
    height: 72px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 30%;
    position: relative;
    box-shadow: 0 1px 4px 1px aliceblue;
    color: black;
    text-align: center;
    overflow: hidden;
}
.btn:hover {
    transform: scale(1.4);
    color: aliceblue;
}
.btn::before{
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    background-color: black;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    left: -10%;
    top: -10%;
}
@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        left: -10%;
        top: -10%;
    }
}
  
  /* FOOTER */
  
footer {
    color:aliceblue;
    box-shadow: 0px -1px 0px 0px aliceblue;
    padding: 50px;
    text-align: center;
}
@media (max-width: 450px){
    header{
        justify-content: center;
    }
    .logo{
        display: none;
    }
    section#home{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .home-info, .home-img{
        width: 100%;
        padding: 10px;
    }
    .swiper-slide{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .project-img{
        width: 100%;
    }
    .project-info{
        width: 80%;
    }
}
.btn-project{
    border: none;
    width: 150px;
    color: black;
    background-color: aliceblue;
    cursor: pointer;
    opacity: 0.9;
}
.btn-project:hover{
    opacity: 1;
}